{% extends 'base.html' %}
{% block title %}
Cнятие валюты с украинских счетов
{% endblock %}
{% block main %}
<br>
<div class="container">
<div class="container">
  <br>
  {% if request.path == "/help_list/" %}
  {% csrf_token %}
  <form method="get" class="row align-items-center justify-content-center">
    <h1 class="text-center">Список людей, готовых помочь</h1>
    <div class="form-group">
      <label for="category">Category</label>
      <select name="category" id="category" class="form-control" required>
        {% if help_type %}
        <option value="{{ help_type }}">{{help_type|upper}}</option>
        {% endif %}
        <option value="cazare">Cazare | Проживання</option>
        <option value="transport">Transport | Транспорт</option>
        <option value="consiliere">Consiliere | Консультування</option>
        <option value="voluntariat">Волонтерство, переклад</option>
        <option value="donatii">Haine, alimente | Одяг, їжа</option>
        <option value="lucru">Lucru | Работа</option>
      </select>
    </div>
            <label for="address">Please select the region</label>
            <select style="margin: .5rem;" class="form-control" id="address" name="address">
              {% if address %}
              <option disabled selected  value="">{{ address|upper }}</option>
              {% endif %}
              <option value="">All</option>
              <option value="chisinau">Chișinău</option>
              <option value="balti">Balți</option>
              <option value="comrat">Comrat</option>
              <option value="anenii_noi">Anenii Noi</option>
              <option value="basarabeasca">Basarabeasca</option>
              <option value="briceni">Briceni</option>
              <option value="cahul">Cahul</option>
              <option value="cantemir">Cantemir</option>
              <option value="calarasi">Călărași</option>
              <option value="causeni">Căușeni</option>
              <option value="cimislia">Cimișlia</option>
              <option value="criuleni">Criuleni</option>
              <option value="donduseni">Dondușeni</option>
              <option value="drochia">Drochia</option>
              <option value="dubasari">Dubăsari</option>
              <option value="edinet">Edineț</option>
              <option value="falesti">Fălești</option>
              <option value="floresti">Florești</option>
              <option value="glodeni">Glodeni</option>
              <option value="hincesti">Hîncești</option>
              <option value="ialoveni">Ialoveni</option>
              <option value="leova">Leova</option>
              <option value="nisporeni">Nisporeni</option>
              <option value="ocnita">Ocnița</option>
              <option value="orhei">Orhei</option>
              <option value="rezina">Rezina</option>
              <option value="riscani">Rîșcani</option>
              <option value="singerei">Sîngerei</option>
              <option value="soroca">Soroca</option>
              <option value="straseni">Strășeni</option>
              <option value="soldanesti">Șoldănești</option>
              <option value="stefan_voda">Ștefan Vodă</option>
              <option value="taraclia">Taraclia</option>
              <option value="telenesti">Telenești</option>
              <option value="ungheni">Ungheni</option>
            </select>
        <input style="margin: .5rem;" type="submit" class="btn btn-primary" value="Поиск">
        <a href="{% url 'help' %}" class="btn btn-success">Предлагайте помощь</a>
       
    </form>
  {% else %}
    <div class="row align-items-center justify-content-center">
      <h1 class="text-center">Список людей, обращающихся за помощью</h1>
      <br>
      <a href="{% url 'need_help' %}" class="btn btn-success">Обратитесь за помощью</a>
    </div>
  {% endif %}
  </div>
  <br>
<div class="container">
    <div class="row">
      {% if not help_list %}
      <div class="alert alert-danger">
        Пока нет объявлений для данной области | все объявления перечислены
      </div>
      {% elif address %}
      <div class="alert alert-primary">
      Результаты поиска:
      </div>
      {% endif %}

{% for item in help %}
<div class="col-md-4 col-sm-12 d-flex justify-content-center">
    <div class="card d-flex justify-content-center align-items-between" style="width: 18rem; margin:.75rem 0rem;min-height:200px ;">
        <div class="card-body d-flex justify-content-center align-items-between flex-column">
          <h5 class="card-title">{{ item|upper }}</h5>
          <h6><span class="badge bg-primary">{{ item.get_category_display }}</span><span class="badge bg-success">{{ item.get_address_display }}</span></h6>
          <p class="card-text">{{ item.details }}</p>
          {% if item.mod_date%}
          <p class="card-text">{{ item.mod_date }}</p>
          {% elif item.pub_date %}
          <p class="card-text">{{ item.pub_date }}</p>
          {% else %}
          <p class="card-text">Feb. 25, 2022</p>
          {% endif %}
          <div class="position-relative bottom-0 d-flex align-items-end justify-content-center flex-column">
            {% if item.link %}
            <a href="{{ item.link }}" class="btn btn-secondary col-sm-12">Link</a>
            {% endif %}
            <a href="tel:{{ item.tel }}" class="btn btn-primary col-sm-12">{{ item.tel }}</a>
          </div>
        </div>
      </div>
</div>
{% endfor %}


</div>
</div>
</div>
{% if help.has_other_pages %}
                <div class="container-fluid">
                <div class="container-fluid" style="width: 100%">
                    <div class="col-sm-12 d-flex justify-content-center" style="margin:3rem 0rem;">
                          <ul class="pagination" style="padding: 0px 5rem">
                                {% if help.has_previous %}
                                <li class="page-item"><a class="page-link" href="?page={{ help.previous_page_number }}">Previous</a></li>
                                {% endif %}
                                <h3 style="margin:0px 10px;width:max-content;">{{ page_number }} of {{ help.paginator.num_pages }}</h3>
                            {% if help.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ help.next_page_number }}">Next</a></li>
                            {% endif %}
                          </ul>
                    </div>
                </div>
              </div>
            {% endif %}
{% endblock %}