<div class="ty-wysiwyg-content" data-ca-live-editor-object-id="0" data-ca-live-editor-object-type="">
    <h2>Полезные ссылки для граждан Украины в Молдове</h2>
</div>


<div class="row">
    <div class="container">
        <div class="row">
            <div class="column  ">
                <div class="col-md-4">
                    <h1 class="list-group list-group-flush">
                        Группы помощи
                    </h1>
                    <div class="ty-mainbox-body">
                        <ul id="text_links_511" class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a class="ty-text-links__a" href="https://www.facebook.com/groups/347615063908402"
                                    target="_blank">
                                    Ajutor ucraineni în Moldova / SOS Українці Молдовa
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a" href="https://www.instagram.com/p/CaZkzeTt85X/"
                                    target="_blank">
                                    TopEstate пункт помощи беженцам
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a"
                                    href="https://www.facebook.com/groups/376218997673768/?ref=share" target="_blank">
                                    Помощь беженцам в Молдове
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a" href="https://www.facebook.com/groups/686050769215234"
                                    target="_blank">
                                    HELP UKRAINIAN PEOPLE
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a"
                                    href="https://docs.google.com/spreadsheets/d/1gnLb9jSxE9XsAKub4UeN0LbdoWYDL4tPLjM1gl-5WYQ/edit#gid=0"
                                    target="_blank">
                                    Ищу/предлагаю помощь
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a" href="https://www.facebook.com/groups/2266562770226895/"
                                    target="_blank">
                                    Группа Помощи город Кишинев
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a"
                                    href="https://invite.viber.com/?g2=AQAIrAoffZ46x07L%2BZdaYdaZWvKgG5k%2BjfxAglRBq8Jei6e3ZmXYUmNFRAr99Duh"
                                    target="_blank">
                                    Viber Support Ukraine
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a"
                                    href="https://invite.viber.com/?g2=AQAtbNs98FyGUE7LJpc%2FkOVTZUKbXe3PPLF1PKpi1pex%2BNvt1lhfqw5JBaIV%2B6en"
                                    target="_blank">
                                    Viber Ajutor Ucraineni în Moldova /SOS Украина
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a" href="https://t.me/%2BTlaDHlbYD-Y5YmZi" target="_blank">
                                    Telegram Support UA From MD
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a" href="https://t.me/help_ukraina" target="_blank">
                                    Telegram Помощь беженцам из Украины
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a" href="https://t.me/moldovaukraina" target="_blank">
                                    Telegram Помощь гражданам Украины / Moldova Liberă
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a" href="https://t.me/helpukraineinmd" target="_blank">
                                    Telegram Помощь Украинцам в Молдове
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a" href="https://t.me/uamd_bot" target="_blank">
                                    Telegram бот для поиска жилья и помощи в Молдове
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a" href="https://t.me/huiiivoiiine" target="_blank">
                                    Telegram Помогаем уехать из UA
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a" href="https://t.me/%2BjJ641BtP5mszMzE6" target="_blank">
                                    Telegram Украина - Молдова Помощь
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a" href="https://t.me/pomojiukr">
                                    Telegram Группа Помощи Беженцам из Украины
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="column  ">
                <div class="col-md-4">
                    <h1 class="list-group list-group-flush">
                        Жильё
                    </h1>

                    <div class="ty-mainbox-body">
                        <ul id="text_links_512" class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a class="ty-text-links__a"
                                    href="https://999.md/ru/list/real-estate/housing-for-refugees" target="_blank">
                                    999 Жильё для беженцев
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a"
                                    href="https://dopomoga.life/index.php?dispatch=pages.view&amp;page_id=42"
                                    target="_blank">
                                    Отели и пансионаты
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a" href="https://www.instagram.com/p/CaZfr6RtoRV/"
                                    target="_blank">
                                    Damalio 100 бесплатных мест проживания
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a" href="https://www.instagram.com/p/CaZoTNOotqu/"
                                    target="_blank">
                                    Бесплатное проживание на спортивной базе ФК Zimbru
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a"
                                    href="https://www.facebook.com/photo/?fbid=125848356653722&amp;set=a.101599245745300"
                                    target="_blank">
                                    Simplu Imobil Бесплатная помощь в поиске жилья
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a"
                                    href="https://www.facebook.com/story.php?story_fbid=363716229091096&amp;id=100063581653010"
                                    target="_blank">
                                    Приют для беженцев в селе Mihăleni
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a"
                                    href="https://www.facebook.com/groups/376218997673768/permalink/377548937540774/"
                                    target="_blank">
                                    200 мест в Ваду луй Водах
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a"
                                    href="https://www.facebook.com/groups/2266562770226895/permalink/3111523575730806/"
                                    target="_blank">
                                    Приют в монастыре Кэприяна
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="column  ">
                <div class="col-md-4">
                    <h1 class="list-group list-group-flush">
                        Медицинская помощь
                    </h1>
                    <div class="ty-mainbox-body">
                        <ul id="text_links_513" class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a class="ty-text-links__a"
                                    href="https://www.facebook.com/alfalab.md/posts/5388626051156259" target="_blank">
                                    ALFA DIAGNOSTICA Бесплатные медицинские анализы
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a"
                                    href="https://www.facebook.com/568475646538193/posts/5081840588534987"
                                    target="_blank">
                                    Бесплатная неотложная стоматологическая помощь
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a"
                                    href="https://docs.google.com/spreadsheets/d/1hmuBUETnCCbkDn_ELdsd4Skzw30wLLVZE0fr_A3Fh24/edit?usp=sharing"
                                    target="_blank">
                                    Список помогающих врачей и психологов
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a"
                                    href="https://docs.google.com/forms/d/e/1FAIpQLSevDiRaX6eqiblmKvTyIgfjM_KUvHgNXslkTx-erPYKhDk7Rw/viewform"
                                    target="_blank">
                                    Помощь украинцам с диабетом
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a" href="https://www.instagram.com/p/CaZYgJFNeQq/"
                                    target="_blank">
                                    Международная больница Medpark
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a"
                                    href="https://www.facebook.com/568475646538193/posts/5081638675221845/"
                                    target="_blank">
                                    Бесплатные медицинские консультации
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a"
                                    href="https://www.facebook.com/FamilyDentLudmila/photos/a.1012423322222653/2418539241611047"
                                    target="_blank">
                                    Family Dent Бесплатная срочная детская стоматология
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a"
                                    href="https://www.facebook.com/KinderMedMD/photos/a.1254500721398310/2039196346262073/"
                                    target="_blank">
                                    KinderMed «Педиатрическая и семейная помощь»
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a"
                                    href="https://www.facebook.com/mamamed.md/photos/a.126793748848354/502551804605878/"
                                    target="_blank">
                                    Mama Med Бесплатные консультации педиатра
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a"
                                    href="https://www.facebook.com/pediatru/photos/a.521226944739739/1796584077204013"
                                    target="_blank">
                                    Центр педиатрии Pediatrica
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a"
                                    href="https://www.facebook.com/photo/?fbid=10220584866951721&amp;set=gm.349046393765269"
                                    target="_blank">
                                    Помощь детям с онкологией
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a"
                                    href="https://www.facebook.com/clinicasmiledentmd/photos/a.1598330653739914/3087613398144958/"
                                    target="_blank">
                                    Бесплатная стоматологическая помощь в SmileDent Team
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a" href="https://www.instagram.com/p/CaZoaqJNDnc/"
                                    target="_blank">
                                    Бесплатная стоматологическая помощь в Dentagram
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a" href="https://www.instagram.com/p/CaZY4aBMuvL/"
                                    target="_blank">
                                    Ultimate Beauty бесплатное медицинское консультирование
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column  ">
                <div class="col-md-4">
                    <h1 class="list-group list-group-flush">
                        Питание
                    </h1>
                    <div class="ty-mainbox-body">
                        <ul id="text_links_514" class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a class="ty-text-links__a" href="https://www.instagram.com/p/CaaVC82NiwS/"
                                    target="_blank">
                                    Сертификаты на продукты питания Pegas
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a"
                                    href="https://www.facebook.com/esushi.md/photos/a.1385048608499390/1735799900090924/"
                                    target="_blank">
                                    ESushi Бесплатные обеды
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a"
                                    href="https://www.facebook.com/photo/?fbid=126152296623328&amp;set=a.101599245745300"
                                    target="_blank">
                                    Simplu Delicios Бесплатные обеды
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a"
                                    href="https://www.facebook.com/cremedelacreme.md/photos/a.110933468992298/4896362817115982/"
                                    target="_blank">
                                    Creme de la Creme Бесплатные обеды
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a"
                                    href="https://www.facebook.com/blackrabbit.md/posts/4941587912574579"
                                    target="_blank">
                                    Black Rabbit Горячий обед и ужин
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a"
                                    href="https://www.facebook.com/TaxiBluesCafe/posts/4867389056684651"
                                    target="_blank">
                                    TaxiBlues Бесплатные обеды
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a"
                                    href="https://www.facebook.com/madamwongmd/posts/3290143154538852" target="_blank">
                                    Madam Wong Бесплатные обеды
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a"
                                    href="https://www.facebook.com/107888621668214/photos/a.161916019598807/167533115703764"
                                    target="_blank">
                                    Lagerfild Бесплатные комплексные обеды
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a" href="https://www.instagram.com/p/CacS-FUNIlp/"
                                    target="_blank">
                                    twister_eatsgood бесплатные обеды
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a"
                                    href="https://www.facebook.com/burgman.md/photos/a.192733991618587/1003402343885077/"
                                    target="_blank">
                                    Burgman Горячие обеды
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a"
                                    href="https://www.facebook.com/photo?fbid=131460879395864&amp;set=a.117148200827132"
                                    target="_blank">
                                    1516 by RockScor Brewery Горячие обеды
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a"
                                    href="https://www.facebook.com/vdrovapubmd/posts/4818385614914823" target="_blank">
                                    Vdrovapub Бесплатный обед и ужин
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a"
                                    href="https://www.facebook.com/BudweiserPub/photos/a.528806583839594/4790621410991402/"
                                    target="_blank">
                                    Budweiser Grill &amp; Pub Бесплатные обеды
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a"
                                    href="https://www.facebook.com/Mimimicakes/photos/a.775687882590773/2041679795991569/"
                                    target="_blank">
                                    Mimimi Cakes Бесплатный торт в день рождения ребёнка
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a"
                                    href="https://www.facebook.com/BIOrganic.Moldova/photos/a.1376856555742361/4955816537846327/"
                                    target="_blank">
                                    BIOrganic Raw Cafe Бесплатные кофе и десерты
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="column  ">
                <div class="col-md-4">
                    <h1 class="list-group list-group-flush">
                        Государственные органы
                    </h1>
                    <div class="ty-mainbox-body">
                        <ul id="text_links_516" class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a class="ty-text-links__a"
                                    href="https://cda.md/ru/2022/02/24/how-to-apply-for-asylum-in-moldova/"
                                    target="_blank">
                                    Как Попросить Убежище В Молдове
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a" href="https://t.me/prima_sursa_md" target="_blank">
                                    Telegram канал Prima Sursa - официальный информационный канал правительства РМ
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a"
                                    href="http://bma.gov.md/ru/content/%D0%B2%D0%B0%D0%B6%D0%BD%D0%BE" target="_blank">
                                    Бюро Миграции РМ
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a"
                                    href="https://dopomoga.life/index.php?dispatch=pages.view&amp;page_id=45"
                                    target="_blank">
                                    Для въезжающих в РМ граждан Украины
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a"
                                    href="https://migratie.md/migration/arrived/integrare/azil.html" target="_blank">
                                    УБЕЖИЩЕ Международная организация по миграции
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a"
                                    href="https://midr.gov.md/ru/novosti/anta-nadaye-transport-dlya-ukrayinskikh-bizhenciv-nizhche-informaciya-pro-transportni-marshruti"
                                    target="_blank">
                                    Организованный транспорт для въезжающих через КПП Паланка и Отачь
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a" href="https://moldova.mfa.gov.ua/ru" target="_blank">
                                    Посольство Украины в Республике Молдова
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a"
                                    href="https://docs.google.com/forms/d/e/1FAIpQLScHR54tAIi35dIiAKEGlWR0QaB2z0sa0EdWIlf_yzpCR9hxLQ/viewform"
                                    target="_blank">
                                    Помощь беженцам, членам Еврейской Общины Украины
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="column  ">
                <div class="col-md-4">
                    <h1 class="list-group list-group-flush">
                        Телекоммуникации
                    </h1>
                    <div class="ty-mainbox-body">
                        <ul id="text_links_515" class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a class="ty-text-links__a"
                                    href="https://www.orange.md/ru/novosti/orange-moldova-vyrazhaet-solidarnost-so-svoimi-klientami-u-kotoryh-est-rodstvenniki-druzya-blizkie-lyudi-v-ukraine"
                                    target="_blank">
                                    Orange Бесплатные звонки в Украину
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a" href="https://moldcell.md/rus/business/node/33415"
                                    target="_blank">
                                    Moldcell Бесплатные SIM карты
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a" href="https://moldtelecom.md/ru/personal/news/347"
                                    target="_blank">
                                    Moldtelecom Бесплатные SIM карты и интернет
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column  ">
                <div class="col-md-4">
                    <h1 class="list-group list-group-flush">
                        Финансовые услуги
                    </h1>
                    <div class="ty-mainbox-body">
                        <ul id="text_links_517" class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a class="ty-text-links__a"
                                    href="https://www.maib.md/ru/noutati/operatiunile-de-schimba-valutar-disponibile-la-bancomatele-maib"
                                    target="_blank">
                                    MAIB Обмен валюты через банкомат
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a" href="https://www.maib.md/ru/noutati/maib%3A-suntem-alaturi"
                                    target="_blank">
                                    MAIB Бесплатные мгновенные банковские карты
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a" href="https://www.maib.md/ru/noutati/maib%3A-suntem-alaturi"
                                    target="_blank">
                                    MAIB Cнятие денег с укр карт без комиссий
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a"
                                    href="https://www.facebook.com/fincombank/photos/a.1509769372613391/3217759148481063/"
                                    target="_blank">
                                    FinComBank cнятие денег с укр карт без комиссий
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="column  ">
                <div class="col-md-4">
                    <h1 class="list-group list-group-flush">
                        Работа
                    </h1>
                    <div class="ty-mainbox-body">
                        <ul id="text_links_518" class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a class="ty-text-links__a" href="https://www.rabota.md/ru/vacancies/category/help"
                                    target="_blank">
                                    Rabota.md Работа для беженцев
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a" href="https://t.me/%2BAjuXfCD_YFQwNjEy" target="_blank">
                                    Telegram канал с вакансиями для граждан Украины
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a" href="https://t.me/moldova_vacancies" target="_blank">
                                    Telegram Moldova Vacancies for UA
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a" href="https://locals.md/2022/arktor-mediakor-dla-ukrainy/"
                                    target="_blank">
                                    Artkor Коворкинг для беженцев
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a"
                                    href="https://www.facebook.com/xypartnersmd/photos/a.2287321771334061/4910980048968207/"
                                    target="_blank">
                                    XY Partners Коворкинг
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a"
                                    href="https://www.facebook.com/ditsmd/posts/7139988956074572" target="_blank">
                                    Deosebit-Service Бесплатный коворкинг
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a"
                                    href="https://tekwill.md/product/offer-coworking-membership/" target="_blank">
                                    Tekwill Бесплатное место в коворкинге
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="column  ">
                <div class="col-md-4">
                    <h1 class="list-group list-group-flush">
                        Животные
                    </h1>
                    <div class="ty-mainbox-body">
                        <ul id="text_links_519" class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a class="ty-text-links__a"
                                    href="https://www.facebook.com/groups/kinologiamd/permalink/380795500050607/"
                                    target="_blank">
                                    Ветеринарный врач
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a"
                                    href="https://www.facebook.com/groups/kinologiamd/permalink/380799893383501/"
                                    target="_blank">
                                    Бесплатный корм для собак
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a"
                                    href="https://www.facebook.com/HumaneSocietyMoldova/photos/a.646912128690468/5055951864453117/"
                                    target="_blank">
                                    Список вет клиник
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a"
                                    href="https://www.facebook.com/groups/kinologiamd/permalink/381140440016113/"
                                    target="_blank">
                                    Бесплатные чипы для собак
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a" href="https://www.facebook.com/ciavdargrup/">
                                    Ciavdar Круглосуточная ветеринарная помощь
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a"
                                    href="https://www.facebook.com/vadimka.ruin/posts/3127847040867982" target="_blank">
                                    Корм для собак Бесплатно
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a"
                                    href="https://www.facebook.com/gadaianastasia/posts/955386138418567"
                                    target="_blank">
                                    Kuz&#039;ma Бесплатно помыть животное
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column  ">
                <div class="col-md-4">
                    <h1 class="list-group list-group-flush">
                        Не вошедшее в другие разделы
                    </h1>
                    <div class="ty-mainbox-body">
                        <ul id="text_links_529" class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a class="ty-text-links__a" href="https://www.facebook.com/csrmoldova" target="_blank">
                                    CSR - сообщество социально ответственного бизнеса
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a"
                                    href="https://www.facebook.com/photo?fbid=7144872402251890&amp;set=a.246348285437704"
                                    target="_blank">
                                    Бесплатные спортивные тренировки для детей
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a"
                                    href="https://www.facebook.com/enter.moldova/posts/4914592295295927"
                                    target="_blank">
                                    Enter Бытовая техника для беженцев
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a"
                                    href="https://www.facebook.com/evpoint.md/posts/484086659831735" target="_blank">
                                    EV Point Бесплатная зарядка электромобилей
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="column  ">
                <div class="col-md-4">
                    <h1 class="list-group list-group-flush">
                        Ресурсы в Румынии
                    </h1>
                    <div class="ty-mainbox-body">
                        <ul id="text_links_530" class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a class="ty-text-links__a" href="https://refugees.ro/" target="_blank">
                                    Romanian solidarity for Ukraine
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a"
                                    href="https://www.facebook.com/groups/unitipentruucraina/?ref=share"
                                    target="_blank">
                                    UNIȚI PENTRU UCRAINA - Єдині за Україну - United for Ukraine
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a"
                                    href="https://www.facebook.com/groups/maramureshostingukraine/" target="_blank">
                                    Maramureș hosts Ukrainian refugees
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a"
                                    href="https://www.facebook.com/groups/644786523464533/?ref=share" target="_blank">
                                    Oradea alături de Ucraina
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="column  ">
                <div class="col-md-4">
                    <h1 class="list-group list-group-flush">
                        Хочу помочь
                    </h1>
                    <div class="ty-mainbox-body">
                        <ul id="text_links_531" class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a class="ty-text-links__a"
                                    href="https://dopomoga.life/index.php?dispatch=pages.view&amp;page_id=40">
                                    Сбор средств примэрии Кишинэу
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a">
                                    Официальный сбор средств Министерства Финансов
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a">
                                    Сбор пожертвований на Moldexpo
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a" href="https://www.facebook.com/casabunachisinau/"
                                    target="_blank">
                                    Сбор вещей и продуктов Casa Bună
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a"
                                    href="https://www.facebook.com/groups/347615063908402/permalink/349375133732395/"
                                    target="_blank">
                                    Кто ещё и где собирает помощь
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a"
                                    href="https://www.facebook.com/179221848907752/posts/2265553836941199/?d=n"
                                    target="_blank">
                                    EcoVisio Сбор средств
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a"
                                    href="https://www.caritate.md/donations/sa-fie-pace-pe-pamant" target="_blank">
                                    Caritate.md сбор денег для продуктовых и аптечных сертификатов
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a class="ty-text-links__a"
                                    href="https://www.facebook.com/Decoratii.md/photos/a.1340380612960540/1678860705779194/"
                                    target="_blank">
                                    Decoratii.md Сбор необходимого для беженцев
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>