<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow" />
    <meta name="description" content=""/>
    <meta name="keywords" content="UA,">
    
    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static '/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static '/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">


    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <title>{% block title %}Help UA Daoi-Source{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <!-- bootstrap -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-5.1.3-dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% block head %}
    {% endblock %}
</head>
<body>
    {% include 'navbar.html' %}
    {% block main %}
    <h1>Hello from base.html</h1>
    {% endblock %}

    {% include 'footer.html' %}
    <script src="{% static 'vendor/bootstrap-5.1.3-dist/js/bootstrap.js' %}"></script>
    <script>
    function myFunction() {
        var x = document.getElementById("myLinks");
        if (x.style.display === "block") {
          x.style.display = "none";
        } else {
          x.style.display = "block";
        }
      }
    </script>
    {% block js %}
    {% endblock %}
</body>
</html>